.popup__input {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
