.profile__name {
  margin: 0 18px 16px 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 294px;
  max-height: 39px;
}

@media screen and (max-width: 915px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
    max-width: 189px;
    max-height: 26px;
  }
}

@media screen and (max-width: 660px) {
  .profile__name {
    margin: 0 10px 14px 0;
  }
}
